.CardDiv {
    background-image: url("/assets/Images/Vertical_mid_lane.jpg");
    background-size: cover;
    overflow:hidden;
    height:1200px;
    
    
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    margin: auto;
    background: transparent;
    padding-block-start: 150px;
}
.blitzCrank{
    display: none;
}
@media (min-width: 1200px){
    .blitzCrank{
        display: unset;
        transform: translateX(40px);
        position: absolute;
        width: 200px;
        height: 200px;
        margin: auto;
        overflow: hidden;
        z-index: 1;
        /* margin-inline-start: 0px -100px; */
        pointer-events: none;

    }
}